<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AesKey" value="62B0E394B5F8CB7D75BFF2B74F9ECA8A" />
    <add key="AesIV" value="A80A9A1321559A6F" />
  </appSettings>
  <system.serviceModel>

    <client>

      <endpoint name="AuthService"
      address="net.tcp://localhost:44340/UserAuthService"
      binding="netTcpBinding"
      contract="Common.Contracts.IUserAuthContract" />

    </client>

  </system.serviceModel>
</configuration>