<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AesKey" value="62B0E394B5F8CB7D75BFF2B74F9ECA8A" />
    <add key="AesIV" value="A80A9A1321559A6F" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="app"  providerName="System.Data.SqlClient" connectionString="Data Source = C:\Users\VukIsic\source\repos\WCF_Rep\WCF\Server_Auth\AppDB.db" />
  </connectionStrings>
  <system.serviceModel>
    <services>

      <service name="Server_Auth.Services.UserAuthService">
        <endpoint address="" binding="netTcpBinding" contract="Common.Contracts.IUserAuthContract" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:44340/UserAuthService" />
          </baseAddresses>
        </host>
      </service>

    </services>
  </system.serviceModel>
</configuration>